@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oxanium:wght@200..800&family=Poppins&family=Space+Grotesk:wght@300..700&display=swap');


/* * {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
    border: none;
    outline: none;
} */

/* body {
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: "Lato", serif;
} */

*{
    margin: 0;
    padding: 0;
   
}

body {

    background-color: white; 
    color: black;
  
  }

  .dark-mode {
    background-color: black; 
    color: white; 
  }
  
/*  NAVBAR   */

.main-header {
    padding: 35px 30px;
    /* background-color: black; */
}

.mobile-nav {
    display: none;
}

.desktop-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10px;
}

.logo-container {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container img {
    width: 70px;
    height: 65px;
    padding-right: 10px;
}

.logo-container h2 {
    font-size: 2rem;
    /* color: whitesmoke; */
    font-weight: normal;
    transition: 0.6s ease;
}

.logo-container h2:hover {
    font-size: 2.4rem;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding-right: 30px;
}

.nav-item {
    margin-left: 3rem;
}

.nav-link {
    text-decoration: none;
    font-size: 1.1 rem;
    transition: transform 0.3s ease, font-size 0.3s ease;
    color: inherit; 
    cursor: default; 
    /* pointer-events: none; */

}

.nav-link:hover {
    transform: scale(1.3);
    color: rgb(5, 136, 92);
}

.nav-btn {
    cursor: pointer;
}

.nav-btn-stroke {
    height: 0.4rem;
    width: 3rem;
    background-color: white;
    transition: 0.3s;
}

.nav-btn-stroke:not(:last-child) {
    margin-bottom: 0.6rem;
}

.nav-open .nav-btn-stroke:nth-child(1) {
    transform: rotate(45deg) translate(0.7rem, 0.7rem);
}

.nav-open .nav-btn-stroke:nth-child(2) {
    opacity: 0;
    visibility: hidden;
}

.nav-open .nav-btn-stroke:nth-child(3) {
    transform: rotate(-45deg) translate(0.7rem, -0.7rem);
}

.main-container {
    transition: 0.3s;
}

.main-container-transform {
    transform: translateY(195px);
}



/* FOOTER */

/* .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
    background-color: black;
    height: 30px;
}

.footer-text p {
    font-size: 1.2rem;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-iconTop {
    margin-top: 15px;
}

.footer-iconTop a h1 {
    text-decoration: none;
    color: white;
    font-size: 35px;
    transition: .4s ease;
}

.footer-iconTop a h1:hover {
    font-size: 45px;
} */



/* @media screen and (max-width: 375px) {


    html {
        width: 100%;
        height: 100%;
        font-size: 40%;
        overflow-x: hidden;
    }

    .mobile-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 20px;
    }

    .desktop-nav .logo-container {
        display: none;
    }

    .desktop-nav {
        display: block;
        height: 0;
        overflow: hidden;
        transition: 0.3s;
    }

    .nav-list {
        margin-top: 20px;
        width: 100%;
        display: block;
    }

    .nav-item {
        margin-bottom: 15px;
    }

    .nav-link {
        font-size: 12px;
        display: block;
        text-align: center;
    }

    .mobile-nav-open {
        height: 125px;
    }

    .logo-container {
        width: 150px;
    }

    .logo-container img {
        width: 60px;
    }

    .logo-container h2:hover {
        font-size: 2.5rem;
    }

    .nav-link:hover {
        font-size: 12px;
    }

    .footer{
        height: 10px;
        width: 375px;
    }

    .footer-text p{
       font-size: 10px;
    }

    .footer-iconTop{
        display: none;
    }
} */