
.syllabus-bca-header{
    margin: 30px 200px;
    padding: 10px 40px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
}

.syllabus-bca-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

/* Individual Box Styling */
.bca-university-box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 20px;
    width: 250px;
    height: 280px;
}

/* Image inside the box */
.bca-university-box-image {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
}

/* Button Styling */
.bca-university-btn {
    margin-top: 10px;
    padding: 8px 15px;
    border: none;
    background-color: #EADBC8;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-size: 16px;
    transition: 0.3s, color 0.3s;
}

.bca-university-btn:hover {
    background-color: #DAC0A3;
    font-size: 17px;
}